# macOS
.DS_Store
**/.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.iml

# Java / Spring Boot
target/
build/
out/
*.log

# Node / React
node_modules/
dist/
.env
.env.local

# Document
초안/
